.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .profile{
        width: 200px;
        display: flex;
        justify-content:space-around;

        button{
            background-color: white;
            color: black;
            border: none;
            height: 40px;
            width: 70px;
            cursor: pointer;
        }
        img{
            border-radius: 50px;
            cursor: pointer;
            object-fit: cover;
        }
    }
}
